
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@theme {
  
  @keyframes extend{
    0%{
      width: 0px;
      
    }
    100%{
      width: 240px;
      padding:0.4em 2em;
      margin-left:-2rem;
    }
  }
  
  @keyframes grow{
    from{
      transform:scale(0.88);
      opacity:1
    }
    to{
      transform: scale(1);
      opacity:1
    }
    
  }
  @keyframes growPop{
    0%{
      /* transform:scale(0.30); */
      /* opacity:0.5; */
      /* transform:translate(-50%,-50%) */
    }
    100%{
      /* transform:translate(var(--tx) var(--ty)) scale(8); */
      top:var(--final-top);
      left:20%;
      width: var(--final-width);
      height:var(--final-height);
      opacity:1;
      transform:translate(50%,50%);
      /* transform:scale(1) */
    }
  }
    @keyframes slideToLeft{
      from{
        opacity:0;
        transform:translateX(0);
        
      }
      to{
        opacity: 1;
         transform:translateX(-50px);
         
     
      }
    
  }
   @keyframes slideFromLeft{
       from{
        opacity:1;
        transform:translateX(-50px);
        
      }
      to{
        opacity: 0;
         transform:translateX(0);
     
      }
    
  }
  @keyframes slideToRight{
      from{
        opacity:0;
        transform:translateX(0px);
        
      }
      to{
        opacity: 1;
         transform:translateX(50px);
          
      }
    
  }
  @keyframes slideFromRight{
      from{
        opacity:1;
        transform:translateX(50px);
        
      }
      to{
        opacity: 0;
         transform:translateX(0px);
          
      }
    
  }
   --animate-extend:extend 0.5s ease-in-out forwards;
    --animate-grow:grow 0.35s ease-out forwards;
    --animate-growPop:growPop 1.5s ease-in forwards;
    --animate-slideToLeft:slideToLeft 1s ease-in forwards;
    --animate-slideFromLeft:slideFromLeft 1s ease-in forwards;
    --animate-slideToRight:slideToRight 1s ease-in forwards;
    --animate-slideFromRight:slideFromRight 1s ease-in forwards;
 
  --font-roboto: "Roboto", sans-serif;
  
}
/* customisation possible via tailwind.cofig is now available here in global css in tailwind 4.0 */
@layer{
}
.hide-scrollbar {
  scrollbar-width: none;        /* Firefox */
  -ms-overflow-style: none;     /* Internet Explorer and Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;                /* Chrome, Safari, Opera */
}
